body {
  padding: 20px;
  font-family: "Merriweather", serif;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
}

header,
footer {
  padding: 2rem;
  background-color: #eee;
}
header h1 {
  margin: 0;
}

main {
  margin: 2rem;
}

main hr {
  margin: 3rem 0;
}

.code {
  padding: 1rem;
  background-color: #000;
  color: #fff;
}

.output {
  padding: 1rem;
  border: 1px solid #aaa;
}